html {
    height: 100%;
}

body {
    background-color: #87d0fa;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.column {
    display:flex;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #002971;
    font-weight: bold;
    font-size: 50px;
}

a:link {
    color: #002971;
    text-decoration: none;
    font-size: 30px;
}
a:visited {
    color: #002971;
}
/*a:hover {

}*/
a:active {
    color: #002971;
}

.button {
    border: 5px solid #002971;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

/*div {
    border: none;
    background-color: inherit;
}*/
