a { text-decoration: none; color:inherit;}

h2,h1,p {
  font-family: 'Roboto Condensed', sans-serif;
}

html,body {
  height:100%;
  overflow: hidden;
}

.Title {
  color:white;
  background-color: 002971;
  font-size: 30;
  display:flex;
  justify-content: center;
  width:100%;
}

.topHalf {
  font-size: 20;
  display:flex;
  align-items:center;
  justify-content: center;
}

.entryForm {
  font-size: 20;
  display:flex;
  align-items:center;
  justify-content: center;
}

.BikesStatus {
  font-size: 20;
  display:flex;
  align-items:center;
  justify-content: center;

}

.bike {
  display:flex;
  justify-content:center;
}


.Availabilities {
  display: flex;
  width: 100%;
  height: 100%;
}

.Bikes {
  background-color: grey;
  flex-grow: 1;
  font-size: 18;
  width:50%;
  display: flex;
  flex-direction: column;
}



.FirstTime {
  display:flex;
  justify-content: flex-end;
  position: absolute;
  bottom:20px;
  right: 20px;
}

.Keys {
  display:flex;
  flex-direction: column;
  height:65.2%;
  background-color:CCCCCC;
  align-items: center;
  overflow-y: scroll;
}

.Location {
  display: flex;
  justify-content: center;
}

.loc {
  color:white;

}
