<!DOCTYPE html>
<html lang="en">

<!-- Filename: check.html
     Author:  Emily Pazos
-->

  <head>
    <meta charset="utf-8">
    <title>Bike Rental and Return</title>
    <link rel="stylesheet" href="hackathon.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <section>
        <div>
            <h2>What would you like to do?</h2>
        </div>
        <div class="button">
            <a href="in.html">Check a Bike In</a>
        </div>
        <div class="button">
            <a href="out.html">Check a Bike Out</a>
        </div>
    </section>
  </body>
</html>
