<!DOCTYPE html>
<html lang="en">

<!-- Filename: enterkey.html
     Author:  Emily Pazos
-->

    <head>
        <meta charset="utf-8">
        <title>Enter key number</title>
        <link rel="stylesheet" href="hackathon.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <section>
            <div>
                <h1>Keys currently checked out:</h1>
            </div>
            <div class="return">
                <div class="button">
                    {% if keynumber %}
                    Key number {{keynumber}}
                    {% else %}
                    <h3>No keys currently checked out</h3>
                    {% endif %}
                </div>
                {% if keynumber %}
                <div class="button">
                    Return
                </div>
                {% endif %}
            </div>
        </section>
    </body>
