<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='firstPage.css') }}">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
  <body>
    <header class="Title">
      <h1> WELLESLEY COLLEGE BIKE SHARE </h1>
    </header>
    <section class = "topHalf">
      <h2> IF YOU ARE AT A BIKESHARE CONSOLE, ENTER BIKE CODE BELOW: </h2>
    </section>
    <form class="entryForm" method = "post" action="/firstPage">
    <input type="text" name="machinecode" maxlength="4"> <!-- HERE WE NEED IT TO TAKE THE SUMBMISSION, MAKE SURE IT IS A VALID PASSWORD
    THEN LINK TO THE CHECK IN/CHECK OUT A BIKE PAGE -->
    <input type="submit">
  </form>
    <section class = "BikesStatus">
      <h2 > CLICK BIKE TO VIEW AVAILABILITIES </h2>
    </section>
    <section class = "bike">
    <a href="/statusPage"> <img class = "bikePic" src = "{{ url_for('static', filename='bike.jpg') }}"> </a>
  </section>
    <a class="FirstTime" href = "http://www.wellesley.edu/sustainability/transportation/bike-share"> <h2> First time user? </h2> </a>

  </body>
</html>
