html {
    height: 100%;
}

body {
    background-color: #87d0fa;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #002971;
}

.column {
    display:flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 5%;
}

.keys {
    background-color: #9ee6c8;
    flex-grow: 1;
    margin: 10%;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 5px solid #002971;
    border-radius: 10px;
    font-size: 120%;
    line-height: 2;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.return {
    display: flex;
}

h2 {
    font-weight: bold;
    font-size: 50px;
}

a:link {
    color: #002971;
    text-decoration: none;
    font-size: 30px;
}
a:visited {
    color: #002971;
}
/*a:hover {

}*/
a:active {
    color: #002971;
}

.button {
    border: 5px solid #002971;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#explain {
    line-height: 50%;
}
