<!DOCTYPE html>
<html lang="en">

<!-- Filename: keyreturn.html
     Author:  Kate Kenneally
-->

  <head>
    <meta charset="utf-8">
    <title>Check bikes In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hackathon.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  </head>

  <body>
        <section>
            <div>
            <h2>Please verify your key number:</h2>
          <form method="post" action="/keys">
              <input type="text" name="keynum" placeholder="2 digit key number" maxlength="2">
              <input type="Submit">
          </form>
            </div>
        </section>
      <script src="bikeshare.js" type="test/javascript"></script>
  </body>

 </html>