<!DOCTYPE html>
<html lang="en">

<!-- Filename: keys.html
     Author:  Emily Pazos
-->

    <head>
        <meta charset="utf-8">
        <title>Key Availabilty</title>
        <link rel="stylesheet" href="hackathon.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <section>
            <div id="explain">
                <h2>The following keys are available</h2>
                Click on an available key to check out a bike!
            </div>
            <div class="column">
                <div class="keys">
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                </div>
                <div class="keys">
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                    Key 1234 <br>
                </div>
            </div>
        </section>
    </body>
<html>
