<html>
<head>
<link rel="stylesheet" href="firstPage.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="Title">
    <h1> BIKE AVAILABILITIES </h1>
  </header>
  <section class="Availabilities">
    <section class="Freeman">
      <h1> FREEMAN LOCATION KEYS</h1>
    </section>
    <section class="CampusPolice">
      <h1> CAMPUS POLICE LOCATION KEYS</h1>
    </section>
  </section>
  <section class = "FreemanBikes">
  </section>
  <section class = "PoBikes">
  </section>

</body>
