<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='firstPage.css') }}">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="Title">
    <h1> BIKE AVAILABILITIES </h1>
  </header>
  <section class="Availabilities">
    <section class="Freeman">
      <h1> FREEMAN HALL KEYS</h1>
    </section>
    <section class="CampusPolice">
      <h1> CAMPUS POLICE KEYS</h1>
    </section>
  </section>
  <section class = "FreemanBikes">
      Key 1 <br>
      Key 2 <br>
      Key 3 <br>
      Key 4 <br>
      Key 5 <br>
      Key 6 <br>
      Key 7 <br>
      Key 8 <br>
      Key 9 <br>
      Key 10 <br>
  </section>
  <section class = "PoBikes">
      Key 11 <br>
      Key 12 <br>
      Key 13 <br>
      Key 14 <br>
      Key 15 <br>
      Key 16 <br>
      Key 17 <br>
      Key 18 <br>
      Key 19 <br>
      Key 20 <br>
  </section>

</body>
